.emptyStateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;
    margin-left: 100px;
    color: #333;
  }
  
  .iconContainer {
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    border-radius:50% ;
    background-color: #e6e6e6;
  }
  
  .folderIcon {
    font-size: 100px;
    width:600px;
    height:600px;
    color: #999;
 
    line-height: 30vh;
  }
  
  h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .description {
    color: #aaa;
    margin-bottom: 20px;
  }
  
  .createNewBtn {
    background-color: #6c63ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-new-btn:hover {
    background-color: #5b52e0;
  }
  